<%- include("header"); -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<div class="questions">
    <div id="q1">
        What is Nexus?
    </div>
    <div id="q2">
        How is Nexus beneficial for MVGR College students?
    </div>
    <div id="q3">
        Does Nexus collaborate with colleges for content?
    </div>
    <div id="q4">
        How can students provide feedback to improve Nexus?
    </div>
    <div id="q5">
        Is Nexus accessible to everyone?
    </div>
</div>
<link rel="stylesheet" href="style.css">
<%- include("footer"); -%>