<%- include("header"); -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<div class="categories">
<div class="dept">
    MVGR Department Books
</div>
<div class="biography">
    Biographies
</div>
<div class="story">
    Story Books
</div>
<div class="competitive">
    Competitive Books
</div>
</div>
<%- include("footer"); -%>